.app__awards {
    flex: 1;
    width: 100%;
    flex-direction: column;

    .app__awards-item {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 2rem;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            flex-direction: column;

            img {
                width: 100px;
                height: 100px;
            }
        }

        &:hover {
            box-shadow: 0 0 25px #fef4f5;
        }
    }

    
}

.app__awards-content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

