.app__graphics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
    p {
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin-top: 2rem;

        li {
            margin: 2rem;
            padding: 0rem;
            color: var(--secondary-color);
            transition: scale 1s;
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
            text-align: center;
            cursor: pointer;
            background-color: var(--primary-color);
        }

        li a {
            width: 100%;
            height: 100%;
            margin: 0px;
            display: block;
            padding: 1rem;
        }

        li:hover {
            scale: 1.1;
        }
        
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        color: inherit;
    }
}